* {
  border: 0px dotted;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

.day {
  color: transparent;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  text-align: right;
  line-height: 1.25;
  float: right;
  margin-right: 3em;
  padding-top: 5em;
  padding-bottom: 2em;
  max-width: 190px; }

.separate {
  height: 7.5em;
  border: 0px dotted;
  background-color: transparent; }

/*----------------Day 4----------------*/
#day-4 {
  background-color: rgba(211, 211, 211, 0.1);
  text-shadow: 0px 0px 9px;
  position: relative; }
  #day-4 .main {
    margin-left: -6%;
    font-family: 'Monofett', cursive;
    font-size: 10em;
    opacity: .3;
    line-height: .5;
    padding-bottom: 2em;
    padding-top: 1em;
    position: relative;
    z-index: 1; }
  @media screen and (max-width: 680px) {
    #day-4 .main {
      font-size: 7em;
      margin-left: -5%;
      padding-top: 2em;
      padding-bottom: 2em; } }
  @media screen and (max-width: 480px) {
    #day-4 .main {
      font-size: 5em;
      padding-top: 3.3em;
      padding-bottom: 3.3em; } }

/*----------------Day 3*----------------*/
#day-3 {
  background-color: lightyellow;
  color: darkgrey; }
  #day-3 .bg-text {
    font-family: 'Cutive Mono';
    font-size: 15em;
    font-weight: bold;
    line-height: .7;
    margin-top: .3em;
    margin-left: 1em;
    color: lightgrey;
    opacity: .3;
    position: relative; }
    #day-3 .bg-text #dash {
      color: red;
      margin-left: -.04em;
      bottom: .1em;
      position: relative; }
  #day-3 .main-text {
    margin-left: -1em;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #8080B5;
    font-size: 6em;
    text-shadow: 9px 0px 0px #FFB39D;
    margin-left: 25%;
    max-width: 70%;
    padding-bottom: 1.5em;
    position: relative;
    bottom: 60px; }
  @media screen and (max-width: 968px) {
    #day-3 .bg-text {
      font-size: 13em;
      margin-left: .5em; }
    #day-3 .main-text {
      font-size: 5em;
      text-shadow: 8px 0px 0px #FFB39D; } }
@media screen and (max-width: 968px) and (max-width: 680px) {
  #day-3 .bg-text {
    font-size: 9em;
    margin-left: .5em; }
  #day-3 .main-text {
    font-size: 4em;
    text-shadow: 6px 0px 0px #FFB39D; } }
@media screen and (max-width: 968px) and (max-width: 480px) {
  #day-3 .bg-text {
    font-size: 6em; }
  #day-3 .main-text {
    bottom: 30px;
    font-size: 3em;
    text-shadow: 4px 0px 0px #FFB39D; } }

/*----------------Day 2*----------------*/
#day-2 {
  background-color: lightblue;
  color: black; }
  #day-2 .day {
    opacity: .7; }
  #day-2 #main-container {
    padding-top: 6em;
    padding-bottom: 5.5em; }
  #day-2 .row {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5.6em;
    line-height: .8em; }
  #day-2 .revel {
    color: black; }
  #day-2 .rebel {
    color: yellow; }
  #day-2 #caption {
    /*		font-family: 'Megrim', cursive;*/
    font-family: 'Julius Sans One', sans-serif;
    color: lightblue;
    font-size: 1.5em;
    letter-spacing: .2em;
    /*		text-transform: uppercase;*/
    text-align: center;
    font-weight: 300;
    padding-bottom: 6em; }
    #day-2 #caption p {
      background-color: yellow;
      display: inline-block;
      /*border: 1px solid;*/
      padding: 10px 20px 10px 20px; }
  @media screen and (max-width: 768px) {
    #day-2 #caption {
      max-width: 250px;
      margin: auto; }
      #day-2 #caption p {
        padding: 10px 20px 10px 20px; } }

/*----------------Day 1*----------------*/
.outer-div {
  position: relative;
  padding: 30px;
  width: 100%;
  height: 100%;
  /*background-color: pink;*/
  background: url("../images/roses.jpg") no-repeat center;
  background-position: 50% 70%;
  opacity: 0.8;
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/ }

.inner-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-color: rgba(229, 200, 200, 0.6); }

.row {
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 0px 50px 0px 50px;
  clear: both; }

@media screen and (max-width: 542px) {
  .third-font {
    max-width: 250px; } }
.first-font {
  font-family: 'Raleway', serif;
  /*font-style: normal;*/
  font-weight: 300;
  font-size: 1.7em;
  text-align: left;
  color: white;
  /*color: 	#878FA4;*/
  font-style: bold;
  margin-left: 13px;
  margin-bottom: -10px;
  padding-top: 2em;
  float: right;
  padding-right: 50px; }

.content-wrapper {
  margin-left: 15px; }

/*bigquote*/
.second-font {
  font-family: 'IM Fell French Canon', serif;
  font-size: 30em;
  line-height: .1em;
  text-align: left;
  color: #e59595;
  /*color: #E9CCB1;*/
  /*color: orange;*/
  /*color: white;*/
  /*opacity: .2;*/
  padding-top: 230px;
  float: left;
  clear: both;
  /*margin-left: 40px;*/
  -moz-transform: scaleX(-1);
  /* Gecko */
  -o-transform: scaleX(-1);
  /* Operah */
  -webkit-transform: scaleX(-1);
  /* webkit */
  transform: scaleX(-1);
  /* standard */
  filter: FlipH;
  /* IE 6/7/8 */ }

/*main font*/
.third-font {
  position: relative;
  z-index: 100;
  font-family: 'Rock Salt', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: .1em;
  word-spacing: 0em;
  line-height: 1.4;
  /*color: #4A4A41;*/
  /*color: #E9CCB1;*/
  color: white;
  /*color:white;*/
  /*padding-bottom: 3em;*/
  margin-left: 70px;
  margin-top: -140px;
  text-align: left;
  display: inline-block;
  z-index: 1; }

@media screen and (max-width: 800px) {
  .inner-div {
    height: 110%; }

  .third-font {
    font-size: 3em; } }
@media screen and (max-width: 668px) {
  .content-wrapper {
    margin-left: -20px; }

  .third-font {
    font-size: 2.3em; } }
@media (max-width: 543px) {
  .first-font {
    color: transparent; } }
a {
  /*color: #E392A2;*/
  /*color: #;*/
  color: #e59595;
  /*color: #E9CCB1;*/ }

a:hover {
  color: #e58096;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
